<a href="https://colab.research.google.com/github/RuchikaMansi/ruchu263/blob/main/input_userdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 63.1 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

In [ ]:
!apt-get -y install mysql-server

In [ ]:
! sudo service mysql start

In [ ]:
! sudo service mysql status

 * /usr/bin/mysqladmin  Ver 8.0.36-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))
Copyright (c) 2000, 2024, Oracle and/or its affiliates.

Oracle is a registered trademark of Oracle Corporation and/or its
affiliates. Other names may be trademarks of their respective
owners.

Server version		8.0.36-0ubuntu0.22.04.1
Protocol version	10
Connection		Localhost via UNIX socket
UNIX socket		/var/run/mysqld/mysqld.sock
Uptime:			6 sec

Threads: 2  Questions: 8  Slow queries: 0  Opens: 119  Flush tables: 3  Open tables: 38  Queries per second avg: 1.333

In [ ]:
import mysql.connector

# Create a connection to the MySQL server
conn = mysql.connector.connect(user='root', password='root',unix_socket='/var/run/mysqld/mysqld.sock')

# Create a cursor to interact with the MySQL server
cursor = conn.cursor()

In [ ]:
cursor.execute("CREATE DATABASE IF NOT EXISTS userinfo")

# Switch to the 'user-info' database
cursor.execute("USE userinfo")

# Create the 'user' table
cursor.execute('''
CREATE TABLE IF NOT EXISTS user(
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL,
    age INT
)
''')

# Always remember to close the cursor and connection when done
cursor.close()
conn.close()

In [ ]:
import mysql.connector

# Connect to the MySQL server and the 'userinfo' database
conn = mysql.connector.connect(user='root', password='root',unix_socket='/var/run/mysqld/mysqld.sock', database='userinfo')
cursor = conn.cursor()

user_data = [
    ("1","ruhh yadav","ruh@gmail.com","21"),
    ("2", "payal singh","payal@gmail.com","18"),
    ("3", "khushi", "khushi@gmail.com","21")
]

# Insert data using the cursor
cursor.executemany('''
INSERT INTO user(id, name, email,age) VALUES (%s, %s, %s, %s)
''', user_data)

# Commit the changes
conn.commit()
cursor.execute("SELECT * FROM user")

# Fetch all the results
records = cursor.fetchall()

# Print the records
for record in records:
    print(record)

# Close the cursor and connection
cursor.close()
conn.close()

(1, 'ruhh yadav', 'ruh@gmail.com', 21)
(2, 'payal singh', 'payal@gmail.com', 18)
(3, 'khushi', 'khushi@gmail.com', 21)